<hr>
<nav class="nav nav-center">
    <span id="nav-toggle" class="nav-toggle"  onclick="document.getElementById('nav-menu').classList.toggle('is-active');">
      <span></span>
      <span></span>
      <span></span>
    </span>
    <div id="nav-menu" class="nav-left nav-menu">
      <span class="nav-item">
        <a href="/">Main</a>
      </span>
      <span class="nav-item">
        <a href="/#about">About</a> 
      </span>
    {{ if .Site.Params.showprojects }}
      <span class="nav-item">
        <a href="/#projects">Projects</a> 
      </span>
    {{ end }}
      <span class="nav-item">
        <a href="/#contact">Slack</a>
      </span>
    {{ if .Site.RSSLink }}
      <span class="nav-item">
        <a href="{{ .Site.RSSLink }}"><i class="fa fa-rss"></i></a>
      </span>
    {{ end }}
    </div>
</nav>
<hr>
